@import url('https://fonts.googleapis.com/css?family=Jua&display=swap');

body {
    marin: 0;
    padding: 0;
    background-size: cover;
}

.map-container {
    height: 100%;
    width: 50%;
}

.citypath  {
    fill:#d8d8d3;
    fill-rule:evenodd;
}

.test {
    fill:green
}

.line {
    fill:none;
    stroke:#000;
    stroke-miterlimit:10;
    stroke-width:0.71px;
}

.navigation {
  width: 100%;
  background-color: black;
}

img {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.logout {
  font-size: .8em;
  position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;

}

.button {
	text-decoration: none;
	float: right;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 25px;
  background-color: black;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

a:hover {
  width: 100px;
}

a:hover .logout{
  opacity: .9;
}

a {
  text-decoration: none;
}
