<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
    <link rel="stylesheet" type="text/css" href="../static/style/Loginstyle.css">
</head>
<body>
    <div class="alert_box">
        {% if us %}
        <div class="alert alert-danger">
            <h3>{{ us }}</h3>
        </div>
        {% endif %}
    </div>
    <div class="login-box">
        <img src="../static/style/paper-plane.png" class="login-icon">
        <h1>Login</h1>
        <form action="/" method="post">
            <p>Username</p>
            <input type="text" name="text" placeholder="Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="submit" value="Login">
            <a href="#">Lost your password?</a>
            <a href="#">Register here!</a>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
</body>
</html>
