<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>
<body>
<div class="login-box">
    <img src="../style/paper-plane.png" class="login-icon">
    <h1>Login</h1>
    <form>
        <p>Username</p>
        <input type="text" name="" placeholder="Username">
        <p>Password</p>
        <input type="password" name="" placeholder="Password">
        <input type="submit" name="" value="Login">
        <a href="#">Lost your password?</a>
        <a href="#">Register here!</a>
    </form>
</div>
</div>
</body>
</html>
