<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Let's Travel</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/style/SideNavStyle.css" rel="stylesheet">
    <link href="../static/style/TravelDiaryStyle.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <div class="nav-button">
        <img class="logo" src="../static/style/logo.png">
    </div>
    <a class="navbar-brand js-scroll-trigger">
        <span class="d-none d-lg-block">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../static/style/tent.png" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link selected-item" href="Main.html">Fill the Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #fff;" href="TravelDiary.html">Travel Diary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Timeline</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">My Page</a>
            </li>
        </ul>
    </div>
    <div class="nav-button">
        <button class="logout-button" action="/Logout">LOGOUT</button>
    </div>
</nav>

<div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center">
        <div class="w-100 flex-column">
            <h1 class="mb-0">Travel Diary</h1>
            <div class="subheading mb-5 mt-1">자신만의 여행 기록을 채워보세요.
            </div>
            <div class="grid-container">
                <div class="post grid-item">
                    <img class="post-img" src="../static/style/Login_background.jpg">
                    <div class="post-body">
                        <h2 class="post-title">Post Title</h2>
                        <h3 class="post-subtitle">Post Subtitle</h3>
                        <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="post-footer">
                        <a class="post-date">2019-07-12</a>
                        <a class="username" href="#">CheddarChoi</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
